@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

.signupButtonWrapper {
  position: relative;
  display: inline-block;
}

.signupButton {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.circleEffect {
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom: -9px;
  border: 1px solid black;
  border-radius: 14px;
  z-index: 1;
}

